.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.first {
  display: table-cell;
  background-color: red;
  width: 33%;
}

.second {
  display: table-cell;
  background-color: blue;
  width: 33%;
}

.third {
  display: table-cell;
  background-color: #bada55;
  width: 34%;
}